body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, 
        #E42A8D, 
        #F02A68, 
        #F78431, 
        #619C4A, 
        #089463, 
        #226B7A);
  color: white;
}

.section {
  padding: 60px 20px;
  max-width: 1100px;
  margin: auto;
}

.top-text {
  text-align: center;
  padding: 40px 20px;
}

.top-text h1 {
  font-size: 2.5rem;
  padding-top: 80px;
}

.top-text p {
  font-size: 1.2rem;
  color: white;
}

.middle {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.middle-text {
  flex: 1;
  font-size: 1.1rem;
  line-height: 1.6;
}

.middle img {
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.bottom video {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

@media(min-width: 768px) {
  .middle {
    flex-direction: row;
    justify-content: space-between;
  }

  .middle-text {
    max-width: 50%;
  }
}


/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    margin-top: 150px;
    font-family: Arial, sans-serif;
    
}

.footer-links {
    margin: 10px 0;
    padding-top: 20px;
}

.footer-links a {
    color: lightblue;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.social-icons {
    padding :20px;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.social-icons img {
    width: 30px;
    transition: transform 0.3s ease-in-out;
}

.social-icons img:hover {
    transform: scale(1.2);
}

/* RESPONSIVE DESIGN */
@media (max-width: 1024px) {
    .flex {
        justify-content: space-around;
    }
}

@media (max-width: 768px) {
    .flex {
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%;
    }
}


/* Mobile Menu */
@media (max-width: 768px) {
    .nav-link {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        width: 100%;
        padding: 15px;
        text-align: center;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        transition: all 0.3s ease-in-out;
    }

    .nav-link.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    /* Animate Hamburger Menu */
    .hamburger.active span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
